<div id="version_revisions">
  <fieldset class="version-revisions"><legend><%= l(:label_version_revisions) %></legend>
    <% revisions.each do |revision| %>
      <%= link_to_revision(revision, revision.repository, :text => "#{revision.revision}") -%><% if ( revision != revisions.last) -%>, <% end %>
    <% end %>
    
  </fieldset>
</div>